<div class="comment-title"><i class="iconfont icon-footprint"></i> 留下足迹 <i class="iconfont icon-footprint"></i></div>
<div id="comment-thread"></div>
<div id="loading-spin"></div>


<script>
  if( <%- theme.leancloud.comment %> ) {

    $(document).ready(function () {
      getComments({
        "type": "<%- theme.leancloud.type %>",
        "user": "<%- theme.leancloud.user %>",
        "repo": "<%- theme.leancloud.repo %>",
        "clientID": "<%- theme.leancloud.clientID %>",
        "clientSecret": "<%- theme.leancloud.clientSecret %>",
        "no_comment": "该页面还没有评论，快去评论吧!",
        "go_to_comment": "去评论",
        "issue_title": "<%- page.title %>",
        "btn_class": "button",
        "comments_target": "#comment-thread"
      });
      marked.setOptions({
        "highlight": function (code, lang) {
          return hljs.highlightAuto(code).value;
        }
      });
      function mark() {
        var markdowns = document.getElementsByClassName("markdown");
        for (var i = 0; i < markdowns.length; ++i){
          if (markdowns[i].innerHTML) {
            markdowns[i].innerHTML = marked(markdowns[i].innerHTML);
          }
        }
      }
      window.addEventListener("DOMContentLoaded", mark, false);
      window.addEventListener("load", mark, false);
    });
  }
</script>
